.aside-card {
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid #bacdd8;
    padding: 30px;
    margin-bottom: 40px;
}
.aside-card .aside-card-title {
    font-size: 24px;
    color: var(--black);
    text-align: left;
    margin: 0 0 20px;

}

.aside-card img {
    width: 100%;
    height: auto;
}

.aside-card ul .list-item {
    line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}

.aside-card ul .list-item .link {
    color: var(--gray)
}

.aside-card ul .list-item .link:hover {
    color: var(--pink);
}

.aside-card ul .list-item:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}