.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "footer";
}

.main-head {
  grid-area: header;
}
.main-nav {
  grid-area: nav;
}
.content {
  grid-area: content;
  /* width: -webkit-fill-available; */
  padding-bottom: 30px;
}
.side {
  grid-area: sidebar;
}
.main-footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 4fr 2fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "content sidebar"
        "content sidebar"
        "footer footer";
  }
}